{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login Form</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
</head>
<body>
  <div class="wrapper">
    <div class="title"><span>Login Form</span></div>
    <form method='POST'>
        {% csrf_token %}
        {{ form.non_field_errors }}
        
        <div class="row">
            <i class="fas fa-user"></i>
            {{ form.email }}
            {{ form.email.errors }}
        </div>
        
        <div class="row">
            <i class="fas fa-lock"></i>
            {{ form.password }}
            {{ form.password.errors }}
        </div>
        
        <div class="pass"><a href="#">Forgot password?</a></div>
        
        <div class="row button">
            <input type="submit" value="Login" />
        </div>
        
        <div class="signup-link">Not a member? <a href="{% url 'signupform'%}">Signup now</a></div>
        
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </form>
</div>

</body>
</html>






























