{% extends "base.html" %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/tasklist.css' %}">
{% endblock %}
{% block content%}
  <div class="container">
    <h1>Task List</h1>

    {% if tasks %}
    {% for task in tasks %}
    <div class="task">
      <div class="task-details">
        <div class="task-title">{{ task.title }}</div>
        <div class="task-meta">
          Assigned To: {{ task.assigned_to.username }} | Priority: {{ task.priority|title }} | Status: {{
          task.status|title }}
        </div>
      </div>
      <div class="task-actions">
        <a href="{% url 'UpdateTask' task.id %}" class="btn btn-edit">Edit</a>
        <a href="{% url 'DeleteTask' task.id %}" class="btn btn-delete">Delete</a>
        <a href="{% url 'Commentdata' task.id %}" class="btn btn-edit">Add Comment</a>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <p class="empty">No tasks available.</p>
    {% endif %}
  </div>
  
{% endblock%}
